<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>business.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductIO</servlet-name>
        <servlet-class>data.ProductIO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>business.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>business.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproduct</servlet-name>
        <servlet-class>business.addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fill</servlet-name>
        <servlet-class>tags.Fill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getdeleteproductServlet</servlet-name>
        <servlet-class>business.getdeleteproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayServlet</servlet-name>
        <servlet-class>business.displayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductIO</servlet-name>
        <url-pattern>/ProductIO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fill</servlet-name>
        <url-pattern>/Fill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getdeleteproductServlet</servlet-name>
        <url-pattern>/getdeleteproductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayServlet</servlet-name>
        <url-pattern>/displayServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
